CompileFlags:
    Add:
        - -IC:\Users\靳雨东\.eide\tools\gcc_arm\arm-none-eabi\include\c++\10.2.1
        - -IC:\Users\靳雨东\.eide\tools\gcc_arm\arm-none-eabi\include\c++\10.2.1\arm-none-eabi
        - -IC:\Users\靳雨东\.eide\tools\gcc_arm\arm-none-eabi\include\c++\10.2.1\backward
        - -IC:\Users\靳雨东\.eide\tools\gcc_arm\lib\gcc\arm-none-eabi\10.2.1\include
        - -IC:\Users\靳雨东\.eide\tools\gcc_arm\lib\gcc\arm-none-eabi\10.2.1\include-fixed
        - -IC:\Users\靳雨东\.eide\tools\gcc_arm\arm-none-eabi\include
    CompilationDatabase: ./build/Debug
    Compiler: C:\Users\靳雨东\.eide\tools\gcc_arm\bin\arm-none-eabi-gcc.exe
